Source: pydigiham
Maintainer: Jakob Ketterl <jakob.ketterl@gmx.de>
Section: hamradio
Priority: optional
Standards-Version: 4.2.0
Build-Depends: debhelper (>= 11), dh-python, python3-all (>= 3.5), libpython3-dev (>= 3.5), python3-setuptools, python3-csdr (>= 0.18), libdigiham-dev (>= 0.6)
Vcs-Browser: https://github.com/jketterl/pydigiham
Vcs-Git: https://github.com/jketterl/pydigiham.git

Package: python3-digiham
Architecture: any
Depends: libdigiham0 (>= 0.6), python3-csdr (>= 0.18), ${shlibs:Depends}, ${misc:Depends}
Description: Python bindings for the digiham library
 Offers a python interface to the various decoders included in digiham
